In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [52]:
data_dir = r'C:\Users\elbai\PycharmProjects\West_Coast_Regional_Datathon_2020\data'

In [2]:
data_dir = "D:\\Downloads\\citadel-datathon-fall-2020"

In [3]:
tag_threshold = 1000

In [22]:
from datetime import datetime

tag_df = pd.read_csv(data_dir + '/movie_lense/tags.csv')
tag_df['timestamp'] = pd.to_datetime(tag_df['timestamp'], unit='s')
tag_df.head(10)
tag_df.describe()

             userId       movieId
count  1.108997e+06  1.108997e+06
mean   1.248016e+05  5.492109e+04
std    7.726964e+04  5.618123e+04
min    1.400000e+01  1.000000e+00
25%    7.340600e+04  3.362000e+03
50%    1.030130e+05  4.374400e+04
75%    1.883600e+05  9.682100e+04
max    2.832210e+05  1.938680e+05

In [23]:
print(tag_df.head(10))
tag_df = tag_df.groupby('tag').filter(lambda x: len(x) > tag_threshold)
tag_count = tag_df['tag'].value_counts()
print(tag_count)

   userId  movieId             tag           timestamp
0      14      110            epic 2015-09-25 02:35:38
1      14      110        Medieval 2015-09-25 02:35:32
2      14      260          sci-fi 2015-09-13 18:36:50
3      14      260    space action 2015-09-13 18:37:01
4      14      318    imdb top 250 2015-09-18 22:26:35
5      14      318         justice 2015-09-18 22:26:32
6      14      480       Dinosaurs 2015-09-25 02:36:03
7      14      593  psychothriller 2015-10-05 03:04:46
8      14     1682      philosophy 2015-09-18 22:25:58
9      14     1682    surveillance 2015-09-18 22:26:07
sci-fi         9400
atmospheric    6430
action         6219
comedy         5923
surreal        5299
               ...
intelligent    1008
futuristic     1008
racism         1004
Brad Pitt      1003
military       1001
Name: tag, Length: 137, dtype: int64

In [24]:
#changed to tuple
ntag_df = tag_df.groupby('movieId').agg(lambda x: x.tolist()).drop(['userId', 'timestamp'],axis=1)
# tag_count = tag_df['tag'].value_counts()
ntag_df

                                                       tag
movieId
1        [comedy, family, friendship, adventure, animat...
2        [fantasy, adapted from:book, based on a book, ...
3                     [sequel, comedy, sequel, funny, CLV]
4                   [based on novel or book, revenge, CLV]
5        [remake, family, sequel, family, humorous, CLV...
...                                                    ...
193679                                             [drama]
193731                                   [based on a book]
193837                                     [aliens, anime]
193864                                            [family]
193868   [black and white, comedy, friendship, musical,...

[28921 rows x 1 columns]

In [34]:
tagged_movies = pd.get_dummies(tag_df[['movieId', 'tag']], prefix='tag', columns=['tag']).groupby('movieId').max()

#tagged_movies = pd.get_dummies(tag_df[['movieId', 'tag']], columns=['tag']).groupby('movieId').max()

In [ ]:
ratings_csv = pd.read_csv(data_dir + '/movie_lense/ratings.csv')

In [35]:

tagged_movies['rating_total'] = ratings_csv.groupby('movieId')['rating'].sum()
tagged_movies['rating_count'] = ratings_csv.groupby('movieId')['rating'].count()
print(tagged_movies)

         tag_Action  tag_BD-R  tag_Betamax  tag_Brad Pitt  tag_CLV  \
movieId
1                 0         0            0              0        1
2                 0         0            0              0        1
3                 0         0            0              0        1
4                 0         0            0              0        1
5                 0         0            0              0        1
...             ...       ...          ...            ...      ...
193679            0         0            0              0        0
193731            0         0            0              0        0
193837            0         0            0              0        0
193864            0         0            0              0        0
193868            0         0            0              0        0

         tag_Criterion  tag_Disney  tag_Johnny Depp  tag_Leonardo DiCaprio  \
movieId
1                    0           1                0                      0
2                    0           0                0                      0
3                    0           0                0                      0
4                    0           0                0                      0
5                    0           0                0                      0
...                ...         ...              ...                    ...
193679               0           0                0                      0
193731               0           0                0                      0
193837               0           0                0                      0
193864               0           0                0                      0
193868               0           0                0                      0

         tag_Marvel  ...  tag_twist ending  tag_violence  tag_violent  \
movieId              ...
1                 0  ...                 0             0            0
2                 0  ...                 0             0            0
3                 0  ...                 0             0            0
4                 0  ...                 0             0            0
5                 0  ...                 0             0            0
...             ...  ...               ...           ...          ...
193679            0  ...                 0             0            0
193731            0  ...                 0             0            0
193837            0  ...                 0             0            0
193864            0  ...                 0             0            0
193868            0  ...                 0             0            0

         tag_visually appealing  tag_war  tag_witty  tag_woman director  \
movieId
1                             0        0          1                   0
2                             0        0          0                   0
3                             0        0          0                   0
4                             0        0          0                   0
5                             0        0          0                   0
...                         ...      ...        ...                 ...
193679                        0        0          0                   0
193731                        0        0          0                   0
193837                        0        0          0                   0
193864                        0        0          0                   0
193868                        0        0          0                   0

         tag_zombies  rating_total  rating_count
movieId
1                  0      266115.0       68469.0
2                  0       88122.0       27143.0
3                  0       49466.5       15585.0
4                  0        8592.0        2989.0
5                  0       47618.0       15474.0
...              ...           ...           ...
193679             0           2.0           1.0
193731             0           3.0           1.0
193837             0           2.0           1.0
193864             0           2.5           1.0
193868             0           8.5           2.0

[28921 rows x 139 columns]

In [36]:
#tagged_movies.to_pickle('./tagged_movies.pkl')
#tagged_movies = pd.read_pickle('./tagged_movies.pkl')
tagged_movies = tagged_movies[tagged_movies['rating_count'] > 0]
tagged_movies['rating_avg'] = tagged_movies.apply(lambda x: x.rating_total/x.rating_count, axis=1)
tagged_movies.dropna()
tagged_movies.to_pickle('./tagged_movies_w_rating_avg.pkl')

In [92]:
from sklearn import naive_bayes
from sklearn.model_selection import train_test_split
input = tagged_movies.drop(columns=['rating_total', 'rating_count', 'rating_avg'])
rating_avg = tagged_movies.rating_avg
[lower, upper] = rating_avg.quantile([0.3, 0.7])
def rating_to_sentiment(rating):
    if rating < lower:
        sentiment = -1
    elif rating > upper:
        sentiment = 1
    else:
        sentiment = 0
    return sentiment
output = rating_avg.apply(lambda x: rating_to_sentiment(x))
X_train, X_test, y_train, y_test = train_test_split(input, output, test_size=0.5, random_state=0)
gnb = naive_bayes.GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != y_pred).sum()))

sns.distplot(rating_avg)

Number of mislabeled points out of a total 5458 points : 4170

Start of Daniel's Workspace

In [94]:
input = tagged_movies.drop(columns=['rating_total', 'rating_count', 'rating_avg'])
rating_avg = tagged_movies.rating_avg
def rating_to_sentiment(rating):
    if rating < 3:
        sentiment = -1
    elif rating < 3.5:
        sentiment = 0
    else:
        sentiment = 1
    return sentiment
output = rating_avg.apply(lambda x: rating_to_sentiment(x)) + 1
X_train, X_test, y_train, y_test = train_test_split(input.values, output, test_size=0.2, random_state=500)

In [95]:
gnb = naive_bayes.CategoricalNB()
#gnb = naive_bayes.GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
total = X_test.shape[0]
correct = (y_test == y_pred).sum()
print("acc/correct/total: %f/%d/%d" % (correct/total, correct, total))

acc/correct/total: 0.464273/2534/5458

In [105]:
from sklearn import linear_model
from sklearn import tree
from sklearn import ensemble
from sklearn import metrics

In [96]:
clf = ensemble.RandomForestClassifier(10)
y_pred = clf.fit(X_train, y_train).predict(X_test)
total = X_test.shape[0]
correct = (y_test == y_pred).sum()
print("acc/correct/total: %f/%d/%d" % (correct/total, correct, total))

acc/correct/total: 0.455661/2487/5458

In [108]:
output = rating_avg
X_train, X_test, y_train, y_test = train_test_split(input.values, output, test_size=0.2, random_state=500)

In [109]:
model = linear_model.LinearRegression()
y_pred = model.fit(X_train, y_train).predict(X_test)
print("MSE/R^2/MAE: %f/%f/%f" % \
      (metrics.mean_squared_error(y_test, y_pred), 
       metrics.r2_score(y_test, y_pred), 
       metrics.mean_absolute_error(y_test, y_pred)))

MSE/R^2/MAE: 0.336584/0.146043/0.429874