In [1]:
import pandas as pd

In [2]:
pd.read_csv('../cpi.csv')

        Series ID  Year Period     Label    Value
0     CUUR0000SA0  1913    M01  1913 Jan    9.800
1     CUUR0000SA0  1913    M02  1913 Feb    9.800
2     CUUR0000SA0  1913    M03  1913 Mar    9.800
3     CUUR0000SA0  1913    M04  1913 Apr    9.800
4     CUUR0000SA0  1913    M05  1913 May    9.700
...           ...   ...    ...       ...      ...
1287  CUUR0000SA0  2020    M04  2020 Apr  256.389
1288  CUUR0000SA0  2020    M05  2020 May  256.394
1289  CUUR0000SA0  2020    M06  2020 Jun  257.797
1290  CUUR0000SA0  2020    M07  2020 Jul  259.101
1291  CUUR0000SA0  2020    M08  2020 Aug  259.918

[1292 rows x 5 columns]